@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'futura medium bt';
    src: url('./assets/fonts/futura/futura medium bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'inter';
    src: url('./assets/fonts/inter/Inter_24pt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Futura Light BT';
    src: url('./assets/fonts/futura/futura light bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat Light';
    src: url('./assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Futura Light Font';
    src: url('./assets/fonts/futura/Futura Light font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'futura bold';
    src: url('./assets/fonts/futura/Futura Bold font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter_18pt-Light';
    src: url('./assets/fonts/inter/Inter_18pt-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
 